{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="col-md-8 mt-5 offset-md-2">
        <h2>Hello {% if user.is_authenticated %}{{ request.user.username }}{% else %} customer{% endif %},</h2>
    </div>  

    <div class="table-responsive-sm table-responsive-md">
        {% if shopping_items %}
        <p>These items are in your shoppingcart:</p>
        <table class="table">
            <thead>
                <tr>
                    <th  scope="col"></th>
                    <th class="text-uppercase" scope="col">Article</th>
                    <th class="text-uppercase" scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
            {% for article in shopping_items %}    
                <tr>
                    <th scope="row"><a href="{% url 'product_detail' article.product.id %}"><img class="" src="{{ article.product.image.url }}" alt=""></a></th>
                    <td>
                        <p><strong><a href="{% url 'product_detail' article.product.id %}">{{ article.poster.name }}</a></strong></p>
                    </td>
                    <td>
                        <p>&euro;{{ article.poster.price }}</p>
                    </td>
                <form class="form update-form form-control form-control-sm" id="update-form" method="POST" action="{% url 'edit_cart' article.article_id %}">
                    {% csrf_token %}
                    
                    <!-- {% if article.product.has_sizes %}
                        <input type="hidden" name="size_option" value="{{ article.size }}">
                    {% endif %} -->
                 </form>    
                    <!-- <td>    
                        <a class="update-click btn btn-outline-dark btn-sm" id="update_{{ article.article_id }}" type="submit" onclick="document.getElementById('update-form').submit();">Update Cart</a>
                        <a class="remove-item btn btn-outline-dark btn-sm" id="remove_{{ article.article_id }}" data-product_size="{{ article.size }}" onclick="return confirm('Are you sure you want to delete this article?')">X</a>
                    </td> -->
               
                </tr>
            {% endfor %}
                <tr>
                    <td colspan="4"></td>
                    <td class="text-right" colspan="2"><strong> Shoppingcart total: &euro;{{ total|floatformat:2 }}</strong></td>
                </tr>    
                <tr>
                    <td colspan="4"></td>
                    <td>
                        <a class="btn btn-custom" href="{% url 'posters' %}">Keep Shopping</a>
                        <a class="btn btn-custom" href="">Checkout</a>
                    </td>
                </tr>  
            </tbody>
        </table>
        {% else %}
            <p>You shopping cart is empty</p>
            <a class="btn btn-custom btn-sm mt-3 mb-5" href="{% url 'posters' %}">Check out some posters!</a>
        {% endif %}
    </div>
{% endblock %}