{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="block-middle">
                <br>
                <h2 class="logo-font mb-4">Hello <strong>{{user.username}}</strong></h2>
                <hr>
                    <h3 id="previous-orders" class="mb-4">Your order history:</h3>
                     {% if user.userprofile.orders %}
                    <table class="mb-4">
                        <thead>
                            <tr>
                                <th scope="col">Order Number |</th>
                                <th scope="col">Poster Name |</th>
                                <th scope="col">Order Date |</th>
                                <th scope="col">Order Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            <tr>
                               
                                <td>{{ order.order_number|truncatechars:10 }}</td>
                                <td>
                                    <ul class="list-unstyled">
                                        {% for item in order.lineitems.all %}
                                        <li>
                                            {{ item.poster.name }}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>{{ order.date}}</td>
                                <td>{{ order.order_total }}</td>
                                
                                
                                
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <small>You have no placed orders yet</small>
                    {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="block-middle">
                <h3 id="personal-info">Your personal information</h3>
                <form class="maxwidth" action="{% url 'profiles' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <button id="link-btn" class="float-right">Update Information</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}

