{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <!-- <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}"> -->
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <br>
                <h2 class="logo-font mb-4">Hello <strong>{{user.username}}</strong></h2>
                <hr>
                    <h3 id="previous-orders">Your order history:</h3>
                    <!-- if statement orders? -->
                     {% if user.userprofile.orders %}
                    <table>
                        <thead>
                            <tr>
                                <th>Order Number</th>
                                <th>Poster Name</th>
                                <th>Order Date</th>
                                <th>Order Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            <tr>
                                <td>{{ order.order_number }}</td>
                                {% for item in order.lineitems.all %}

                                <td>{{ item.poster.name }}</td>
                                {% endfor %}
                                <td>{{ order.date}}</td>
                                <td>{{ order.order_total }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <small>You have no placed orders yet</small>
                    {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3 id="personal-info">Your personal information</h3>
                <form class="mt-3" action="{% url 'profiles' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    <!-- CREATE ORDER FORM WITH DEFAULTS AND NOT USE THIS ONE BELOW -->
                    {{ order_form.first_name }}
                    {{ order_form.last_name }}
                    {{ order_form.email }}
                    {{ order_form.phone_number }}
                    <button class="btn btn-custom float-right">Update Information</button>
                </form>
            </div>
        </div>
        <div class="table-responsive">
</section>
{% endblock %}

