{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="">
    <div class="row">
        <div class="maxwidth">
            <h2>Thank you for you purchase!</h2>
            <p>
                A confirmation email will be send to {{ order.email }}
                Download your poster(s) below.
            </p>
        </div> 
    </div>
    <div class="row">
        <div class="maxwidth">
            <ul>
                {% for lineitem in lineitems %}
                    <li class="list-unstyled">
                        <a href="{{ lineitem.poster.image.url }}" download>
                            Download {{ lineitem.poster.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="maxwidth">
            {% if user.is_authenticated %}
            <a id="link-btn" class="" href="{% url 'profiles' %}">View my order</a>
            {% endif %}
            <a id="link-btn" class="" href="{% url 'posters' %}">Keep Shopping</a>
        </div>
    </div>
</div>
{% endblock %}