{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="">
    <div class="row">
        <div class="col-md-8 mt-5 offset-md-2">
            <h2>Thank you for you purchase!</h2>
            <p>
                A confirmation email will be send to {{ order.email }}
                Download your poster(s) below.
            </p>
        </div> 
    </div>
    <div class="row">
        <div class="col-md-8 mt-5 offset-md-2">
            <a id="download-btn" class="" href="">DOWNLOAD</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-5 offset-md-2">
            <a id="link-btn" class="" href="{% url 'profiles' %}">View my order</a>
            <a id="link-btn" class="" href="{% url 'posters' %}">Keep Shopping</a>
        </div>
    </div>
</div>
{% endblock %}