{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Homepage header + img + search form -->
<section>
  <div class="index-header w-100 d-flex justify-content-center align-items-center">
      <div class="text-center">
          <h1 class="header-text">The best stock photos available now!</h1>
          <div class="search-form-wrapper">
              <form class="search-form row w-100 mt-2" method="GET" action="{% url 'posters' %}" role="search">
                  <!-- Wider input on mobile/tablet, narrower on desktop -->
                  <div class="col-10 col-md-9 col-lg-8">
                      <input class="form-control search-input py-2" name="request" type="search" placeholder="What are you looking for?" aria-label="Search">
                  </div>
                  <!-- Small button across all devices -->
                  <div class="col-2 col-md-3 col-lg-2 d-flex align-items-center">
                      <button class="btn btn-success search-button" type="submit">
                          <i class="fa fa-search"></i>
                      </button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</section>
{% endblock %}

{% block gallery %}
<section>
    <div class="container-fluid">
      <div class="container-grid">
        <div class="box rounded">
          <a href="{% url 'posters' %}?category=architecture">
            <img src="{{ MEDIA_URL }}architecture.jpg" alt="category architecture">
          </a>
          <span>Architecture</span>
        </div>
        <div class="box rounded">
          <a href="{% url 'posters' %}?category=nature">
            <img src="{{ MEDIA_URL }}red_trees.jpg">
          </a>
          <span>Nature</span>
        </div>
        <div class="box rounded">
          <a href="{% url 'posters' %}?category=people">
            <img src="{{ MEDIA_URL }}people.jpg">
          </a>
          <span>People</span>
        </div>
        <div class="box rounded">
          <a href="{% url 'posters' %}?category=artistic">
            <img src="{{ MEDIA_URL }}art_2.jpg">
          </a>
          <span>Artistic</span>  
        </div>
      </div>
    </div>
</section>
{% endblock %}

{% block about_us %}
<section id="about-us">
  <div class="container-fluid">
    <div class="container block-wide">
      <div class="row">
        <h2>A little bit about us</h2>
        <p>Welcome to Poster Palace, where creativity meets technology to bring you unique and captivating digital art and posters. At our studio, we are passionate about transforming imagination into vibrant digital masterpieces that inspire and enchant.</p>
        <h3>Our story</h3>
        <p>Poster Palace was born out of a shared love for art, technology and photography. Founded by a group of digital artists and tech enthusiasts, our mission is to make high-quality posters accessible to everyone. From our humble beginnings, creating art in our small studio, we have grown into a vibrant community of artists and art lovers. Our journey is fueled by a commitment to innovation, creativity, and the pursuit of excellence.</p>   
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block contactform %}
<div class="spacer"></div>
<section id="contact" class="block-center">
  <div class="container-fluid">
    <div class="container maxwidth">
      {% include 'incl/_contact_form.html' %}
    </div>
  </div>
</section>
{% endblock %}