/* General */

* {
    margin: auto;
}


/* ------------------------------------------------------------------------ NAVIGATION  BAR */
/* General Styles */
#logo {
  height: 50px;
  width: auto;
}

.nav-link {
  color: inherit;
}
.navbar .cart-total {
  margin-left: 5px;
  font-weight: bold;
}
.navbar .shopping-cart-link, 
.navbar-nav .nav-link {
  padding: 0 10px;
}

/* ------------------------------------------------------------------------ INDEX HEADER */
.index-header {
  background-image: url('/static/images/art.jpg');
  background-position: center;
  background-size: cover;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-text {
  color: white;
  background-color: rgba(255, 193, 7, 0.9);
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 20px;
}

.search-form-wrapper {
  width: 100%;
}

.search-form {
  display: flex;
  justify-content: center;
  width: 100%;
}

.search-input {
  width: 100%;
}

.search-button {
  border-radius: 50px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ------------------------------------------------------------------------ POSITIONING */

.block-wide {
  width: 70%;
}
#block-wide {
  width: 70%;
}
.block-middle {
  width: 60%;
}
#block-middle {
  width: 60%;
}
.maxwidth {
  max-width: 500px;
}

.spacer {
  height: 100px;
  width: 100%;
  display: block;
  background-color: transparent;
}
.spacer-small {
  height: 50px;
  width: 100%;
  display: block;
  background-color: transparent;
}
.spacer-xs {
  height: 10px;
  width: 100%;
  display: block;
  background-color: transparent;
}

#about-us {
  margin-top: 0px;
}

/* ------------------------------------------------------------------------ BUTTONS */

#link-btn {
  background-color: #4CAF50 !important;
  color: #ffffff;
  border: none;
  border-radius: 26px;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.link-btn {
  background-color: #4CAF50 !important;
  color: #ffffff;
  border: none;
  border-radius: 26px; 
  padding: 12px 24px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.download-btn {
  background-color: #e55229 !important;
  color: #ffffff;
  border: none;
  border-radius: 26px;
  padding: 12px 24px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

/* ADD TO CART - button */

/* Button styling for enabled state */
.add-to-cart {
  position: relative;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 26px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

/* Styling when button is disabled */
.add-to-cart:disabled {
  background-color: grey;
  cursor: not-allowed;
  opacity: 0.65;
}

/* ------------------------------------------------------------------------ GALLERY / IMAGE GRID */
.container-grid {
    display: flex;
    width: 100%;
    padding: 4% 0%;
    box-sizing: border-box;
  }
  
  .box {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 2%;
    box-shadow: 0 20px 30px rgba(0,0,0,.1);
    line-height: 0;
    height: 60vh;
  }
  
  .box a img {
    width: 200%;
    height: calc(100% - 10vh);
    object-fit: cover; 
    transition: .5s;
  }
  
  .box span {
    font-size: 3.8vh;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 2.6;
  }
  
  .box:hover { flex: 1 1 50%; }
  .box:hover a img {
    width: 100%;
    height: 100%;
  }

  .overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: rgb(139, 192, 238);
    z-index: 0;
  }

  /* Posters grid */
  .row {
    margin-right: 50px;
    margin-left: 50px;
}
.poster-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 200px; 
  margin: 0 auto 10px; 
  background-color: #f7f7f7;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.poster-card img {
  width: 100%;
  height: 250px; 
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0 0;
}

.poster-card .card-body {
  padding: 15px;
  background-color: transparent;
  border-radius: 0 0 0.5rem 0.5rem;
}

.card-title, .card-text {
  margin-bottom: 10px;
  color: black;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
}






/* Modal */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}


/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


/* FOOTER */
footer {
    background-color: #8a8882;
    color: white;
    margin-top: 50px;
}
footer a {
    color: white;
}

/* ------------------------------------------------------------------------ MEDIA QUERIES */
@media (min-width: 768px) and (max-width: 1024px) {
  .container-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2%; 
    height: auto;
  }
  .box {
    height: 50vh;
    transition: none;
  }
  .box:hover {
    flex: 1 1 50%;
    transition: none;
  }
  .box a img {
    transition: none;
  }
  .box:hover a img {
    width: 100%;
    height: 100%;
    transition: none;
  }
}

#about-us {
  margin-top: 100px;;
}
.block-wide {
  width: 80%;
}
.row {
  margin-right: 0px;
  margin-left: 0px;
}

/* For mobile devices */
@media (max-width: 767px) {
  .container-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 2%;
    height: auto;
  }
  .box {
    height: 50vh;
    margin-bottom: 4%;
    transition: none;
  }
  .box:hover {
    flex: 1 1 50%;
    transition: none;
  }
  .box a img {
    transition: none;
  }
  .box:hover a img {
    width: 100%;
    height: 100%;
    transition: none;
  }
}

#about-us {
  margin-top: 100px;;
}

.block-wide {
    width: 90%;
}
.row {
  margin-right: 0px;
  margin-left: 0px;
}