/* General */

* {
    margin: auto;
}

h1 {
    color: blueviolet;
}

/* Navbar */
#logo {
    height: 50px;
    width: auto;
}

/* Index Header */
.index-header {
    background-image: url('/static/images/mountains.jpg');
    background-position-y: 67%;
    height: 30vh;
    width: 100vh;
}
.header-text {
    color: white;
}

