/* General */

* {
    margin: auto;
}


/* Navbar */
#logo {
    height: 50px;
    width: auto;
}

/* Index Header */
.index-header {
    background-image: url('/static/images/art.jpg');
    background-position-y: 50%;
    background-size: cover;
    height: 40vh;
    width: 100vh;
}
.header-text {
    color: white;
}

.img-card {
  width: 30px;
}

/* Buttons styling */

#link-btn {
  background-color: #4CAF50 !important; /* Green background */
  color: #ffffff; /* White text */
  border: none;
  border-radius: 26px; /* Border radius of 26 */
  padding: 12px 24px; /* Adjust padding as needed */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; /* Adjust font size as needed */
  cursor: pointer;
}
.link-btn {
  background-color: #4CAF50 !important; /* Green background */
  color: #ffffff; /* White text */
  border: none;
  border-radius: 26px; /* Border radius of 26 */
  padding: 12px 24px; /* Adjust padding as needed */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; /* Adjust font size as needed */
  cursor: pointer;
}

/* Gallery / image grid */
.container-grid {
    display: flex;
    width: 100%;
    padding: 4% 0%;
    box-sizing: border-box;
    height: 100vh;
  }
  
  .box {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 2%;
    box-shadow: 0 20px 30px rgba(0,0,0,.1);
    line-height: 0;
    height: 60vh;
  }
  
  .box a img {
    width: 200%;
    height: calc(100% - 10vh);
    object-fit: cover; 
    transition: .5s;
  }
  
  .box span {
    font-size: 3.8vh;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 2.6;
  }
  
  .box:hover { flex: 1 1 50%; }
  .box:hover a img {
    width: 100%;
    height: 100%;
  }

  .overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: rgb(139, 192, 238);
    z-index: 0;
  }

  /* Posters grid */
  .row {
    margin-right: 50px;
    margin-left: 50px;
}

/* Modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}


/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


/* Add to cart */
.add-to-cart {

  &::after {
    content: "\f07a";
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    font-family: "Font Awesome 6 Free";
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;
  }
  
}



/* Footer */
footer {
    background-color: #8a8882;
    color: white;
    margin-top: 50px;
}
footer a {
    color: white;
}

/* CUSTOM 404 PAGE */

#notfound {
  position: relative;
  height: 100vh;
}

.notfound {
  max-width: 520px;
  width: 100%;
  text-align: center;
  line-height: 1.4;

  &.notfound-404 {
    height: 190px;

    & h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 146px;
    font-weight: 700;
    margin: 0px;
    color: #232323;
    }

    & h1>span {
      display: inline-block;
      width: 120px;
      height: 120px;
      background-image: url(../img/emoji.png);
      background-size: cover;
      -webkit-transform: scale(1.4);
      -ms-transform: scale(1.4);
      transform: scale(1.4);
    }
  }
}



