{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block page_header %}
    Register
{% endblock %}

{% block content %}
<div class="container mb-5">
  <div class="row">
    <div class="col-md-8 mt-5 offset-md-2">
      <p>{% blocktrans %}Do you already have an account? Then please <a class="link"
          href="{{ login_url }}">sign in</a> instead.{% endblocktrans %}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form | crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-custom btn-lg mt-3" type="submit">{% trans "Sign Up" %} &raquo;</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}