{% extends "base.html" %}
{% load static %}

{% block content %}
<section>
    <div class="container-fluid h-100">
        <div class="container">
            {% for c in current_cat %}
                {% if c.friendly_name %}
                    <h1 class="row">{{ c.friendly_name }} Posters</h1>
                {% else %}
                    <h1 class="row">All Posters</h1>
                {% endif %}
            {% endfor %}
            <div class="row">
                {% for poster in posters %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card poster-card h-100 border-0 shadow-sm rounded">
                        {% if poster.image %}
                            <a href="{% url 'poster_detail' poster.id %}">
                                <img id="{{ poster.sku }}" class="card-img-top img-fluid" src="{{ poster.image.url }}" alt="{{ poster.name }}" onclick="myFunction('{{poster.sku}} output=raw');">
                            </a>
                        {% else %}
                            <a href="{% url 'poster_detail' poster.id %}">
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ poster.name }}">
                            </a>
                        {% endif %}
                        <div class="card-body d-flex flex-column justify-content-between">
                            <h5 class="card-title text-center">{{ poster.name }}</h5>
                            <p class="card-text text-center">€{{ poster.price }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div> 
</section>
{% endblock %}

{% block jscript %}
{% endblock %}