{% extends "base.html" %}
{% load static %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">  
                <div class="image-container my-5">
                    {% if poster.image %}
                        <a href="{{ poster.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ poster.image.url }}" alt="{{ poster.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ poster.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>

            <div class="col">
                <h2 class="top">{{ poster.name}}</h2><small>€{{ poster.price }}</small>
                <h4>In cart? {{ in_cart }}</h4>
                <p>{{ poster.description }}</p>
                <form id="myForm" class="form" action="{% url 'add_to_cart' poster.id %}" method="POST">
                {% csrf_token %}
                <input id="add_to_cart" type="hidden" name="quantity" value="1" min="1" man="1"required>
                {% if poster.has_color %}
                    {{ form_color | crispy }}
                {% endif %}
                <input type="submit" class="add-to-cart" value="Add">
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </form>
            </div>
        </div>

        
    </div>
</section>
{% endblock %}

{% block jscript %}
<script>
    // get quantity integer from request POST
    // const form = document.getElementById('myForm');
    // form.addEventListener('submit', function(event) {
    //     event.preventDefault(); // prevent form submission

    //     // check if quantity is 1
    //     const quantity = parseInt(form.elements.quantity.value);
    //     if (quantity === 1) {
    //         const button = document.getElementById('add_to_cart');
    //         button.disabled = true;
    //     } else {
    //         const button = document.getElementById('add_to_cart');
    //         button.disabled = false;
    //     }
    //     // submit the form
    //     // form.submit();
    // });

//     let myForm = document.getElementById("myForm");
//     myForm.addEventListener("submit", (e) => {
//     e.preventDefault();

    

//     if (in_cart.value === 1) {
//     alert("This item is already in your shopping cart!");
//     } else {
//     // perform operation with form input
//     alert("This item has been added to your shopping cart!");
//     myForm.submit();
//   }
// });
</script>
{% endblock %}