{% extends "base.html" %}
{% load static %}

{% block content %}
<section>
    <div class="container">
        <form class="form" action="{% url 'add_to_cart' poster.id %}" method="POST">
            {% csrf_token %}
            {% if product.has_color %}
                {{ form_color | crispy }}
            {% endif %}
            <input type="submit" class="add-to-cart" value="Add">
            <input type="hidden" name="redirect_url" value="{{ request.path }}">
        </form>
    </div>
</section>
{% endblock %}