{% extends "base.html" %}
{% load static %}

{% block content %}
<section>
    <div class="containter-fluid h-100">
        <div class="container">
            {% for c in current_cat %}
                {% if c.friendly_name %}
                    <h1 class="row">{{ c.friendly_name }} Posters</h1>
                {% else %}
                    <h1 class="row">All Posters</h1>
                {% endif %}
            {% endfor %}
            <div class="row">
            {% for poster in posters %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card h-100 border-0">
                    {% if poster.image %}
                    <a href="{% url 'poster_detail' poster.id %}"></a>
                            <img id="{{ poster.sku }}" class="img-poster card-img-top img-fluid rounded" src="{{ poster.image.url }}" alt="{{ poster.name }}" onclick="myFunction('{{poster.sku}} output=raw');">
                        </a>
                    {% else %}
                        <a href="{% url 'poster_detail' poster.id %}">
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ poster.name }}">
                        </a>
                    {% endif %}
                        <div class="card-body pb-0">
                            <p class="mb-0">{{ poster.name }}</p>
                        </div>
                        <div class="card-footer bg-white pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                    <p class="lead mb-0 text-left font-weight-bold">€{{ poster.price }}</p>
                                    <form class="form" action="{% url 'add_to_cart' poster.id %}" method="POST">
                                        {% csrf_token %}
                                        {{ form_quantity | crispy }}
                                        <input type="number" name="quantity" value="1" min="1" required>
                                        {% if poster.has_color %}
                                            {{ form_color | crispy }}
                                        {% endif %}
                                        <input type="submit" class="add-to-cart" value="Add">
                                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:1 %}
                    <div class="col-12 d-sm-none mb-5">
                        <hr>
                    </div>
                {% endif %}                        
                {% if forloop.counter|divisibleby:2 %}
                    <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                        <hr>
                    </div>
                {% endif %}
                {% if forloop.counter|divisibleby:3 %}
                    <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                        <hr>
                    </div>
                {% endif %}
                {% if forloop.counter|divisibleby:4 %}
                    <div class="col-12 d-none d-xl-block mb-5">
                        <hr>
                    </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
       
    </div> 
</section>
<!-- Modal -->
<div id="poster-modal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content modal-img" id="modal-img">
</div>


{% endblock %}

{% block jscript %}
<script>
    // Get modal
    // var modal = document.getElementById("poster-modal");
    // // Get the image and insert it inside the modal
    // // var img = document.getElementById();
    // var modalImg = document.getElementById("modal-img");

    function myFunction(textid) {
  /* Get the text field */
        var modal = document.getElementById("poster-modal");
        var img = document.getElementById(textid);
        var modalImg = document.getElementById("modal-img");
        var span = document.getElementsByClassName("close")[0];
        

        span.onclick = function() { 
            modal.style.display = "none";
            modal.style.display = "block";
            modalImg.src = this.src;
        }
    }
    // img.onclick = function(){
    //         modal.style.display = "block";
    //         modalImg.src = this.src;
    //     }
    

    // Get the <span> element that closes the modal
//     var span = document.getElementsByClassName("close")[0];

// // When the user clicks on <span> (x), close the modal
//     span.onclick = function() { 
//     modal.style.display = "none";
//     }
</script>
{% endblock %}